@import "leaflet/dist/leaflet.css";
@import "leaflet-fullscreen/dist/leaflet.fullscreen.css";

@tailwind utilities;

.map {
  @apply w-[512px] h-[512px] max-w-full mx-auto my-2;
}

.leaflet-control-container {
  user-select: none;
}

svg.leaflet-attribution-flag {
  display: none !important;
}

.icon-side-mission {
  background-image: url("../images/side-mission.png");
  background-size: 100% auto;
}
